.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.navbar {
    padding: 30px;
}
.navbar-link {
    font-family: Roboto, sans-serif;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    margin: 0 35px;
}
.main-img {
    width: 100%;
}
.main {
    color:  #373737;
    font-family: Roboto, sans-serif ;
    font-size: 16px;
    font-weight: 800; /*данний параметр я підібрала вручну, так як значееня 900 з ресурсу візуально дуже відрізнялося*/
    line-height: 26px;
    padding: 30px 100px;
    background-color: rgb(245, 246, 247);

}
.main-header {
    font-size: 22px;
    font-weight: 800;
    color:  #373737;
    letter-spacing: 1.4px;
    font-family: Roboto, sans-serif;
    padding: 30px;
}
.text {
    margin-bottom: 20px;
}
.content-button {
    display: inline-block;
    margin: 41px 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color:  #16a085;
    letter-spacing: 1.6px;
    padding: 15px 35px;
    color: #ffffff;
    font-family: GothamRounded, sans-serif;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;


}
.end {
    color:  #373737;
    font-family: Roboto, sans-serif ;
    font-size: 16px;
    font-weight: 800; /*данний параметр я підібрала вручну, так як значееня 900 з ресурсу візуально дуже відрізнялося*/
    text-align: right; /*в ресурсі вирівнювання було вказано по лівому краю*/
    padding: 45px 100px;
}